// Offerings
.offerings {
  display: inline-block;
  align-items: center;
  justify-content: center;
  padding-top: 41px;
  padding-bottom: 60px;
  background-image: url(../images/bg/bgimg-m.png);
  background-repeat: no-repeat;
  background-size: 100%;

  @media screen and (min-width: 768px) {
    padding-top: 150px;
    padding-bottom: 100px;
    background-image: url(../images/bg/bgimg-t.png);
    background-repeat: no-repeat;
    background-size: 100%;
  }
  @media screen and (min-width: 1280px) {
    display: flex;
    padding-top: 177px;
    padding-bottom: 75px;
    background-image: url(../images/bg/bgimg-d.png);
    background-repeat: no-repeat;
    background-size: 100%;
  }
}
.picture {
  margin-bottom: 60px;
  display: flex;
  align-items: center;
  justify-content: center;

  @media screen and (min-width: 1280px) {
    margin-right: 90px;
  }
}
.picture__image {
  max-width: 201px;

  @media screen and (min-width: 768px) {
    max-width: 257px;
  }
  @media screen and (min-width: 1280px) {
    max-width: 396px;
  }
}
.content {
  @media screen and (min-width: 768px) {
    flex-basis: 526px;
  }
  @media screen and (min-width: 1280px) {
    flex-basis: 573px;
  }
}
.content__list {
  display: block;
  @media screen and (min-width: 768px) {
    display: flex;
  }
  align-items: center;
  justify-content: center;
}
.content__main-title {
  margin-bottom: 28px;
  @media screen and (min-width: 768px) {
    margin-bottom: 20px;
    flex-basis: 526px;
  }
  font-weight: 700;
  font-size: 42px;
  line-height: 120%;
  color: #2c2c2c;
}
.content__main-subtitle {
  margin-bottom: 28px;
  @media screen and (min-width: 768px) {
    margin-bottom: 40px;
  }
  font-size: 16px;
  line-height: 150%;
  color: #2c2c2c;
}

.content__item--left {
  margin-bottom: 28px;
  @media screen and (min-width: 768px) {
    margin-right: 116px;
    margin-bottom: 0;
  }
  @media screen and (min-width: 1280px) {
    margin-right: 67px;
  }

  &::before {
    content: '';
    display: block;
    margin-bottom: 8px;
    width: 48px;
    height: 48px;
    background-color: #fefefe;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../images/icon_about/icon_deliv.svg);
  }
}
.content__item--right {
  &::before {
    content: '';
    display: block;
    margin-bottom: 8px;
    width: 48px;
    height: 48px;
    background-color: #fefefe;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../images/icon_about/icon_order.svg);
  }
}

.content__title {
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 17.1px;
  line-height: 140%;
  color: #2c2c2c;
}
.content__subtitle {
  font-size: 14px;
  line-height: 150%;
  color: #2c2c2c;
}
.content__btn {
  margin-top: 28px;
  margin-right: 24px;
  @media screen and (min-width: 768px) {
    margin-top: 40px;
  }
  @media screen and (min-width: 1280px) {
    margin-top: 32px;
  }
  font-weight: 500;
  font-size: 13px;
  line-height: 150%;
  color: #2c2c2c;

  width: 106px;
  height: 40px;
  left: 656px;
  top: 1204px;
  background: #ffffff;
  border: 2px solid #7eb101;
  border-radius: 30px;
  cursor: pointer;
}
.content__btn--right {
  // display: flex;
  // align-items: center;
  // justify-content: center;
  // gap: 3.5px;
  @media screen and (min-width: 1280px) {
    display: none;
  }
  font-size: 13.7px;
  line-height: 150%;

  color: #000000;

  flex: none;
  order: 0;
  flex-grow: 0;
  border: none;
  background-color: inherit;

  // &::after {
  //   content: '';
  // }
}
