<!-- Favorites setion -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <section class="container section__favorites">
      <div class="favorites__container">
        <h1 class="title favorites__title">Some of Our Favorites</h1>
        <p class="favorites__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </p>
        <ul class="favorites__list list">
          <li class="favorites__item">
            <a class="favorites__link link" href="">
              <div class="favorites__thumb">
                <img
                  class="favorites__img"
                  srcset="
                    images/favorites/gamburger@1x-224.png 224w,
                    images/favorites/gamburger@1x-268.png 268w,
                    images/favorites/gamburger@1x-315.png 315w,
                    images/favorites/gamburger@2x-448.png 448w,
                    images/favorites/gamburger@2x-536.png 536w,
                    images/favorites/gamburger@2x-630.png 630w
                  "
                  sizes="(min-width: 1280px) 315px, (min-width: 768px) 268px, (max-width: 767px) 224px"
                  src="images/favorites/gamburger@1x-315.png"
                  alt="gamburger"
                  width="315"
                  height="315"
                />
              </div>
            </a>
          </li>
          <li class="favorites__item">
            <a class="favorites__link link" href=""
              ><div class="favorites__thumb">
                <img
                  class="favorites__img"
                  srcset="
                    images/favorites/Pasta@1x-224.png 224w,
                    images/favorites/Pasta@1x-268.png 268w,
                    images/favorites/Pasta@1x-315.png 315w,
                    images/favorites/Pasta@2x-448.png 448w,
                    images/favorites/Pasta@2x-536.png 536w,
                    images/favorites/Pasta@2x-630.png 630w
                  "
                  sizes="(min-width: 1280px) 315px, (min-width: 768px) 268px, (max-width: 767px) 224px"
                  src="images/favorites/Pasta@1x-315.png"
                  alt="Pasta"
                  width="315"
                  height="315"
                /></div
            ></a>
          </li>
          <li class="favorites__item">
            <a class="favorites__link link" href=""
              ><div class="favorites__thumb">
                <img
                  class="favorites__img"
                  srcset="
                    images/favorites/pizza@1x-224.png 224w,
                    images/favorites/pizza@1x-268.png 268w,
                    images/favorites/pizza@1x-315.png 315w,
                    images/favorites/pizza@2x-448.png 448w,
                    images/favorites/pizza@2x-536.png 536w,
                    images/favorites/pizza@2x-630.png 630w
                  "
                  sizes="(min-width: 1280px) 315px, (min-width: 768px) 268px, (max-width: 767px) 224px"
                  src="images/favorites/Pasta@1x-315.png"
                  alt="pizza"
                  width="315"
                  height="315"
                />
              </div>
            </a>
          </li>
          <li class="favorites__item">
            <a class="favorites__link link" href=""
              ><div class="favorites__thumb">
                <img
                  class="favorites__img"
                  srcset="
                    images/favorites/chicken@1x-224.png 224w,
                    images/favorites/chicken@1x-268.png 268w,
                    images/favorites/chicken@1x-315.png 315w,
                    images/favorites/chicken@2x-448.png 448w,
                    images/favorites/chicken@2x-536.png 536w,
                    images/favorites/chicken@2x-630.png 630w
                  "
                  sizes="(min-width: 1280px) 315px, (min-width: 768px) 268px, (max-width: 767px) 224px"
                  src="images/favorites/chicken@1x-315.png"
                  alt="chicken"
                  width="315"
                  height="315"
                /></div
            ></a>
          </li>
          <li class="favorites__item">
            <a class="favorites__link link" href=""
              ><div class="favorites__thumb">
                <img
                  class="favorites__img"
                  srcset="
                    images/favorites/salat@1x-224.png 224w,
                    images/favorites/salat@1x-268.png 268w,
                    images/favorites/salat@1x-315.png 315w,
                    images/favorites/salat@2x-448.png 448w,
                    images/favorites/salat@2x-536.png 536w,
                    images/favorites/salat@2x-630.png 630w
                  "
                  sizes="(min-width: 1280px) 315px, (min-width: 768px) 268px, (max-width: 767px) 224px"
                  src="images/favorites/salat@1x-315.png"
                  alt="salat"
                  width="315"
                  height="315"
                />
              </div>
            </a>
          </li>
          <li class="favorites__item">
            <a class="favorites__link link" href=""
              ><div class="favorites__thumb">
                <img
                  class="favorites__img"
                  srcset="
                    images/favorites/borshch@1x-224.png 224w,
                    images/favorites/borshch@1x-268.png 268w,
                    images/favorites/borshch@1x-315.png 315w,
                    images/favorites/borshch@2x-448.png 448w,
                    images/favorites/borshch@2x-536.png 536w,
                    images/favorites/borshch@2x-630.png 630w
                  "
                  sizes="(min-width: 1280px) 315px, (min-width: 768px) 268px, (max-width: 767px) 224px"
                  src="images/favorites/borshch@1x-315.png"
                  alt="borshch"
                  width="315"
                  height="315"
                /></div
            ></a>
          </li>
        </ul>
      </div>
    </section>
  </body>
</html>
