<!-- Favorites setion -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <section class="favorites">
      <div class="container favorites__container">
        <h1 class="title favorites__title">Some of Our Favorites</h1>
        <p class="favorites__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </p>
        <ul class="favorites__list list">
          <li class="favorites__item">
            <a class="favorites__link link" href="">
              <div class="favorites__thumb">
                <img
                  class="favorites__img"
                  srcset="
                    images/favorites/gamburger_268.png 268w,
                    images/favorites/gamburger_315.png 315w,
                    images/favorites/gamburger_630.png 630w,
                    images/favorites/gamburger_945.png 945w
                  "
                  sizes="(min-width: 768px) 268px, (min-width: 1280px) 315px, 100vw"
                  src="images/favorites/gamburger_945.png"
                  alt="gamburger"
                  width="315"
                  height="315"
                />
              </div>
            </a>
          </li>
          <li class="favorites__item"><div class="favorites__thumb"></div></li>
          <li class="favorites__item"><div class="favorites__thumb"></div></li>
          <li class="favorites__item"><div class="favorites__thumb"></div></li>
          <li class="favorites__item"><div class="favorites__thumb"></div></li>
          <li class="favorites__item"><div class="favorites__thumb"></div></li>
        </ul>
      </div>
    </section>
  </body>
</html>
