 <!-- Footer section -->
 <footer class="footer">
    <a href="./index.html" class="footer__logo-link">
        <img src="./images/logo/logo.png" alt="logo FoodSta" class="header__logo-icon" width="72" height="52"/>
    </a>
    <nav class="footer__nav">
        <ul class="footer__nav-list">
            <li class="footer__nav-item"><a href="" class="footer__navlink">Home</a></li>
            <li class="footer__nav-item"><a href="" class="footer__navlink">About</a></li>
            <li class="footer__nav-item"><a href="" class="footer__navlink">Service</a></li>
            <li class="footer__nav-item"><a href="" class="footer__navlink">Menu</a></li>
            <li class="footer__nav-item"><a href="" class="footer__navlink">Contact</a></li>
        </ul>
    </nav>
    <h3 class="footer__titel">Subscribe</h3>
        <div class="footer__">
            <label class="footer__label">
                <input type="email" class="footer__inpit" placeholder="Enter your email">
            </label>
            <button type="submit" class="footer__btn">Subscribe</button>
    </div>
    <p class="footer__more">By subscribing you agree to with our 
        <a href="" class="footer__more-link">Privacy Policy</a>
    </p>
    <ul class="footer__list">
        <li class="footer__item"><a href="" class="footer__ro-link">Privacy Policy</a></li>
        <li class="footer__item"><a href="" class="footer__ro-link">Terms of Service</a></li>
        <li class="footer__item"><a href="" class="footer__ro-link">Cookies Settings</a></li>
    </ul>
    <p>2022 FoodSta. All right reserved.</p>
</footer>