<!-- Hero section -->
<section class="hero container">
    <div class="hero__box">
        <h1 class="hero__title" id="home">Enjoy Your Favorite Food From Anywhere</h1>
        <p class="hero__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.</p>
        <button class="hero__btn button" type="button" data-modal-open>Order Now</button>
    </div>
    <div class="swiper">

          <div class="carousel">

              <div class="carousel__item">
                  <img class="carousel__img" src="./images/dish/dish1_528.png" alt="meatball">
              </div>  
              <div class="carousel__item">
                  <img class="carousel__img" src="./images/dish/dish2_528.png" alt="salat">
              </div>  
              <div class="carousel__item">
                  <img class="carousel__img" src="./images/dish/dish3_528.png" alt="egg">
              </div>  
             
          </div>
    </div>    

        <!-- <div class="news-slider__arrows">
            <button class="news-slider__arrow news-slider-prev">
              <span class="icon-font">
                <svg class="icon icon-arrow-left"><use href="./images/sprite.svg#slider_left"></use></svg>
              </span>
            </button>
            <button class="news-slider__arrow news-slider-next">
              <span class="icon-font">
                <svg class="icon icon-arrow-right"><use href="./images/sprite.svg#slider_right"></use></svg>
              </span>
            </button>
          
          </div> -->
</section>
