<!-- Hero section -->
<section class="hero container">
    <div class="hero__box">
        <h1 class="hero__title" id="home">Enjoy Your Favorite Food From Anywhere</h1>
        <p class="hero__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.</p>
        <button class="hero__btn button" type="button" data-modal-open>Order Now</button>
    </div>
    <div class="swiper">

          <div class="carousel">

              <div class="carousel__item">
                <picture>
                      <!--Desktop-->
                      <source
                        media="(min-width: 1280px)"
                        srcset="
                          ./images/hero/meatballD@1x.webp 1x,
                          ./images/hero/meatballD@2x.webp 2x
                        "
                        type="image/webp"
                      />
                      <source
                        media="(min-width: 1280px)"
                        srcset="
                        ./images/hero/meatballD@1x.png 1x,
                        ./images/hero/meatballD@2x.png 2x
                        "
                        type="image/png"
                      />
                      <!--Tablet-->
                      <source
                        media="(min-width: 768px)"
                        srcset="
                        ./images/hero/meatballT@1x.webp 1x,
                        ./images/hero/meatballT@2x.webp 2x
                        "
                        type="image/webp"
                      />
                      <source
                        media="(min-width: 768px)"
                        srcset="
                        ./images/hero/meatballT@1x.png 1x,
                        ./images/hero/meatballT@1x.png 2x
                        "
                        type="image/png"
                      />
                      
                      <!--fallback-->
                      <img
                        class="favorites__img"
                        src="./images/hero/meatballD@1x.png"
                        alt="meatball"
                        width="292"
                      />
                </picture>            
              </div>  
              <div class="carousel__item">
                <picture>
                    <!--Desktop-->
                    <source
                      media="(min-width: 1280px)"
                      srcset="
                        ./images/hero/salatD@1x.webp 1x,
                        ./images/hero/salatD@2x.webp 2x
                      "
                      type="image/webp"
                    />
                    <source
                      media="(min-width: 1280px)"
                      srcset="
                      ./images/hero/salatD@1x.png 1x,
                      ./images/hero/salatD@2x.png 2x
                      "
                      type="image/png"
                    />
                    <!--Tablet-->
                    <source
                      media="(min-width: 768px)"
                      srcset="
                      ./images/hero/salatT@1x.webp 1x,
                      ./images/hero/salatT@2x.webp 2x
                      "
                      type="image/webp"
                    />
                    <source
                      media="(min-width: 768px)"
                      srcset="
                      ./images/hero/salatT@1x.png 1x,
                      ./images/hero/salatT@2x.png 2x
                      "
                      type="image/png"
                    />
                    
                    <!--fallback-->
                    <img
                      class="favorites__img"
                      src="./images/hero/salatD@1x.png"
                      alt="salat"
                      width="292"
                    />
                  </picture>                  
              </div>  
              <div class="carousel__item">
                <picture>
                    <!--Desktop-->
                    <source
                      media="(min-width: 1280px)"
                      srcset="
                        ./images/hero/eggD@1x.webp 1x,
                        ./images/hero/eggD@2x.webp 2x
                      "
                      type="image/webp"
                    />
                    <source
                      media="(min-width: 1280px)"
                      srcset="
                      ./images/hero/eggD@1x.png 1x,
                      ./images/hero/eggD@2x.png 2x
                      "
                      type="image/png"
                    />
                    <!--Tablet-->
                    <source
                      media="(min-width: 768px)"
                      srcset="
                      ./images/hero/eggT@1x.webp 1x,
                      ./images/hero/eggT@2x.webp 2x
                      "
                      type="image/webp"
                    />
                    <source
                      media="(min-width: 768px)"
                      srcset="
                      ./images/hero/eggT@1x.png 1x,
                      ./images/hero/eggT@1x.png 2x
                      "
                      type="image/png"
                    />
                    
                    <!--fallback-->
                    <img
                      class="favorites__img"
                      src="./images/hero/eggD@1x.png"
                      alt="egg"
                      width="292"
                    />
              </picture>            
              </div>  
             
          </div>
    </div>    

</section>
