<!-- Hero section -->
<section class="hero container">
    <div class="hero__box">
        <h1 class="hero__title" id="home">Enjoy Your Favorite Food From Anywhere</h1>
        <p class="hero__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.</p>
        <button class="hero__btn button" type="button" data-modal-open>Order Now</button>
    </div>
    <div class="swiper">
        <div class="swiper__list">
        <div class="swiper-wrapper">
            <img class="swiper-slide" src="./images/dish/dish1_528.png" alt="meatball">
            <img class="swiper-slide" src="./images/dish/dish2_528.png" alt="salat">
            <img class="swiper-slide" src="./images/dish/dish3_528.png" alt="egg">
        </div>
        </div>    
       <div class="swiper-pagination"></div>

        <div class="s"><button class="slider-btn swiper-button-prev">left</button></div>
        <div class="s"><button class="slider-btn swiper-button-next">right</button></div>
    </div>
</section>
